{% extends 'shop_app/base.html' %}
{% block content %}
<div class="container">
    <br>
{% for contact in contacts %}
    <div class="row">
        <div class="col-3">
            <b>Руководитель:</b>
            <br>
            {{contact.last_name}}
            {{contact.first_name}}
            {{contact.middle_name}}
            <br><br>
            <b>Тел.:</b> {{contact.phone}}
            <br>
            <b>Электронная почта:</b> {{contact.email}}<br><br>
            <b>Форма регистрации:</b> {{contact.registration_form}}
            <br>
            <b>ИНН:</b> {{contact.INN}}
            <br>
            <b>ОГРН:</b> {{contact.OGRN}}
        </div>
        <div class="col bs-light-border-subtle">
            <b>Адреса магазинов:</b>
            <br>
            {% for item in contact.addresses.all %}
            <a href="https://yandex.ru/maps/?text={{ item.addresse }}" target="_blank">{{ item.addresse }}</a><br>
            Тел.: {{item.phone}}<br>
            Время работы: {{item.working_time}}<br><br>
            {% endfor %}
        </div>
    </div>
    <hr>
{% endfor %}
</div>
{% endblock %}