{% extends 'shop_app/base_user.html' %}
{% block content %}
  <div class="container" id="order-container">
      <br>
      <h4>Пункт выдачи заказа: {{user.address}}</h4>
      {% if available_employees %}
            <b class="text-success">Служба доставки доступна.</b>
        {% else %}
            <b class="text-danger">Все сотрудники службы доставки заняты.</b>
        {% endif %}
      <hr>
      {% if processing %}
        {% for order in processing %}
            <div class="alert alert-warning" role="alert" data-order-id="{{ order.id }}">
                <div class="row">
                    <div class="col-9">
                        <b>Заказ:</b> №{{order.id}}&nbsp;<b>Город:</b>&nbsp;{{order.city}}&nbsp;<b>Телефон:&nbsp;</b>&nbsp;{{order.phone}}<br>
                        <b>Адрес доставки:</b>&nbsp;{{order.address}}
                    </div>
                    <div class="col d-flex align-items-center">
                        {% if available_employees %}
                            <a href="{% url 'shop_app:finalize_order' order.id %}" class="btn btn-success btn-lg">Исполнить</a>
                        {% endif %}
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="{% url 'shop_app:cancel_order' order.id %}" class="btn btn-danger btn-lg">Х</a>
                    </div>
                </div>
            </div>
          {% for item in order.items.all %}
            <img src="/{{item.product.image}}" width="80" height="50">&nbsp;&nbsp;&nbsp;<a href="/product/{{item.product.slug}}">{{ item.product.product_name }}</a> (кол-во: {{item.quantity}})&nbsp;&nbsp;&nbsp;
          {% endfor %}
          <hr>
          <br>
        {% endfor %}
      {% else %}
        <h3 class="text-danger">В текущий момент заказов в работе нет.</h3>
      {% endif %}
</div>
{% endblock %}