aside {
		float: left;
		background: #181818;
		width: 20%
		padding: 2.5%;
		height: 100vh;
		color: #fff;
		border-right: 5px solid #4d4d4d;
	}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
     font-size: 3.5rem;
     }
   }