{% extends "shop_app/base.html" %}
{% block content %}
{% if cart|length == 0 %}
<script>window.location.href = "/";</script>
{% endif %}
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Оформление заказа:</h2>
            <br>
            <h4>На общую стоимость: {{cart.price_with_delivery}} {{currency2}}</h4>
            <br>
            СОСТАВ ЗАКАЗА:
            <hr>
                {% for item in cart %}
                        <img src="/{{item.product.image}}" width="80" height="50"> {{ item.product }}: в кол-ве: {{ item.quantity }}
                        {%  if item.quantity < 2%}порция{% endif %}
                        {%  if item.quantity > 1 and item.quantity < 5 %}порции{% endif %}
                        {%  if item.quantity > 4 %}порций{% endif %}
                        на сумму: {{ item.total_price }} {{currency2}}<br><br>
                {% endfor %}
            <hr>
             <h3>Доставка заказа: {{shipping_cost}} {{currency2}}</h3>
        </div>
        <div class="col">
            <h2>Заполните все поля:</h2>
            <br>
            <form action="" method="post" class="order-form">
                {% csrf_token %}
                <div class="form-error">{{form.non_field_errors}}</div>
                {% for f in form %}
                    <p>{{f}}</p>
                    <div class="form-error">{{f.errors}}</div>
                {% endfor %}
                <input class="btn btn-success btn-lg" type="submit" value="Оплатить">
                <a href="{% url 'shop_app:shop_app' %}" class="btn btn-primary btn-lg">К покупкам</a>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}