{% extends 'orders/base_user.html' %}
{% block content %}
<br>
<h4><b>Идентификатор:</b> {{identifier}}</h4><br>
{% if result.status == 'waiting_for_capture' %}
    <h3>Статус заказа:</h3>
    <h3 class="text-primary"><b>Ожидает подтверждения приема оплаты заказа</b></h3>
    <hr>
    <div class="row">
        <div class="col-2">
            <form action="{% url 'orders:payment_acceptance' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="payment_identifier" name="payment_identifier" value="{{identifier}}">
                <button class="btn btn-success" type="submit">Принять оплату</button>
            </form>
        </div>
        <div class="col-2">
            <form action="{% url 'orders:cancel_order' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="cancel_identifier" name="cancel_identifier" value="{{identifier}}">
                <button class="btn btn-danger" type="submit">Отменить заказ</button>
            </form>
        </div>
        <div class="col-2">
            <a href="{% url 'orders:completed_orders' %}" class="btn btn-primary">Отмена</a>
        </div>
    </div>
{% elif result.status == 'succeeded' %}
    <h3>Статус заказа:</h3>
    <h3 class="text-success"><b>Оплачен</b></h3>
{% elif result.status == 'canceled' %}
    <h3>Статус заказа:</h3>
<h3 class="text-danger"><b>Отменен</b></h3>
{% endif %}
{% endblock %}
